configuration.py
*/__pycache__/*
/venv/*
.__pycache__
*.__pycache__
.pyc
.idea/*
.DS_STORE
packages/football_trading/football_trading/data/*
packages/football_trading/football_trading/logs/*
packages/ft_api/ft_api/logs/*
*.pyc
packages/football_trading/.tox/*
packages/football_trading/football_trading/data/training_data/*
packages/football_trading/football_trading/plots/*
packages/football_trading/football_trading/tmp/*
packages/ft_api/.tox/*

packages/football_trading/build/*
packages/football_trading/dist/*
packages/football_trading/football_trading.egg-info/*
packages/football_trading/.pytest_cache/*
