configuration.py
*/__pycache__/*
/venv/*
.__pycache__
*.__pycache__
.pyc
.idea/*
.DS_STORE
/packages/football_trading/football_trading/src/.DS_STORE
/packages/football_trading/football_trading/data/.DS_STORE
/packages/football_trading/football_trading/logs/*
*.pyc
/packages/football_trading/.tox/*
/packages/football_trading/football_trading/data/training_data/*
#/packages/football_trading/football_trading/plots/*
/packages/football_trading/football_trading/tmp/*