absl-py==0.8.1
appnope==0.1.0
astetik==1.9.9
astor==0.8.1
backcall==0.1.0
beautifulsoup4==4.8.1
bs4==0.0.1
cachetools==3.1.1
certifi==2019.11.28
chances==0.1.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.1
Flask==1.1.1
gamify==0.0.3
gast==0.2.2
geonamescache==1.1.0
google-auth==1.8.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
idna==2.8
ipython==7.10.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kerasplotlib==0.1.4
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
numpy==1.17.4
oauthlib==3.1.0
opt-einsum==3.1.0
pandas==0.25.3
parso==0.5.1
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.2
protobuf==3.11.1
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
Pygments==2.5.2
pylab==0.0.2
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
pyusb==1.0.2
PyVISA==1.10.1
PyVISA-py==0.3.1
PyYAML==5.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.22
scipy==1.2.0
seaborn==0.9.0
six==1.13.0
sklearn==0.0
soupsieve==1.9.5
statsmodels==0.10.2
talos==0.6.3
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
tqdm==4.40.2
traitlets==4.3.3
urllib3==1.25.7
wcwidth==0.1.7
Werkzeug==0.15.4
wrangle==0.6.7
wrapt==1.11.2
xgboost==0.90
python-Levenshtein==0.12.0